/*------------------------------------------------------------------
[COLOR CODES]

$primary-color:  #05233a;
$secundary-color: #007BC4;
$grey-75:#333;
$text-2: #555;
$text-3: #666;

------------------------------------------------------------------*/


$primary-color:  #05233a;
$secundary-color: #007BC4;
$grey-75:#333;
$grey-50: #555;
$grey-25: #666;
$white-100: #fff;