  
  /*==================================================================
     COLOR COLOR COLOR COLOR COLOR COLOR COLOR COLOR COLOR COLOR COLOR 
  ==================================================================*/
  .bcl-0 {border-color: $white-100;}
  .bcl-1 {border-color: #111;}
  .bcl-2 {border-color: #222;}
  .bcl-3 {border-color: $grey-75;}
  .bcl-4 {border-color: #444;}
  .bcl-5 {border-color: $grey-50;}
  .bcl-6 {border-color: $grey-25;}
  .bcl-7 {border-color: #777;}
  .bcl-8 {border-color: #888;}
  .bcl-9 {border-color: #999;}
  .bcl-10 {border-color: $primary-color;}
  .bcl-11 {border-color: $secundary-color;}
  .bcl-12 {border-color: #ccc;}
  .bcl-13 {border-color: rgba(204,204,204,0.7);}
  .bcl-14 {border-color: #ddd;}
  
  /*---------------------------------------------*/
  .cl-none {color: transparent;}
  .cl-0 {color: $white-100;}
  .cl-1 {color: #111;}
  .cl-2 {color: #222;}
  .cl-3 {color: $grey-75;}
  .cl-4 {color: #444;}
  .cl-5 {color: $grey-50;}
  .cl-6 {color: $grey-25;}
  .cl-7 {color: #777;}
  .cl-8 {color: #888;}
  .cl-9 {color: #999;}
  .cl-10 {color: $primary-color;}
  .cl-11 {color: $secundary-color;}
  .cl-12 {color: #e5e5e5;}
  .cl-13 {color: #ddd;}
  .cl-14 {color: #ccc;}
  .cl-15 {color: #f2f2f2;}
  .cl-16 {color: #595959;}
  
  
 