
  /*==================================================================
     OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER 
  ==================================================================*/
  .txt-line-through {text-decoration: line-through;}
  
  .z-index-10 {z-index: 10;}
  .z-index-100 {z-index: 100;}
  .z-index-1000 {z-index: 1000;}
  
  
  /*------------------------------------------------------------------
  [ Input ]*/
  .focus-in0:focus::-webkit-input-placeholder { color:transparent; }
  .focus-in0:focus:-moz-placeholder { color:transparent; }
  .focus-in0:focus::-moz-placeholder { color:transparent; }
  .focus-in0:focus:-ms-input-placeholder { color:transparent; }
  
  /*---------------------------------------------*/
  .focus-in1:focus { border-color: $secundary-color;}
  .focus-in1:focus { border-color: $secundary-color;}
  .focus-in1:focus { border-color: $secundary-color;}
  .focus-in1:focus { border-color: $secundary-color;}
  
  /*---------------------------------------------*/
  .plh-3::-webkit-input-placeholder { color: $grey-75;}
  .plh-3:-moz-placeholder { color: $grey-75;}
  .plh-3::-moz-placeholder { color: $grey-75;}
  .plh-3:-ms-input-placeholder { color: $grey-75;}
  
  .plh-6::-webkit-input-placeholder { color: $grey-25;}
  .plh-6:-moz-placeholder { color: $grey-25;}
  .plh-6::-moz-placeholder { color: $grey-25;}
  .plh-6:-ms-input-placeholder { color: $grey-25;}
  
  .plh-9::-webkit-input-placeholder { color: #999;}
  .plh-9:-moz-placeholder { color: #999;}
  .plh-9::-moz-placeholder { color: #999;}
  .plh-9:-ms-input-placeholder { color: #999;}
  
  /*------------------------------------------------------------------
  [ Parallax100 ]*/
  .parallax100 {
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media (max-width: 991px) {
    .parallax100 {background-attachment: inherit;}
  }
  
  /*------------------------------------------------------------------
  [ Wrap Picture ]*/
  .wrap-pic-s, .wrap-pic-max-s,
  .wrap-pic-w, .wrap-pic-max-w,
  .wrap-pic-h, .wrap-pic-max-h {display: block;}
  
  .wrap-pic-w > img {width: 100%;}
  .wrap-pic-max-w > img {max-width: 100%;}
  
  .wrap-pic-h > img {height: 100%;}
  .wrap-pic-max-h > img {max-height: 100%;}
  
  .wrap-pic-s > img {width: 100%; height: 100%;}
  .wrap-pic-max-s > img {max-width: 100%; max-height: 100%;}
  
  
  /*------------------------------------------------------------------
  [ Active class ]*/
  .active-1 {
    border-color: $secundary-color;
  }
  
  /*---------------------------------------------*/
  .active-2 {
    background-color: $secundary-color;
    color: $white-100;
  }
  