  
  /*//////////////////////////////////////////////////////////////////
  [ RS PLUGIN ]*/
  
  /*------------------------------------------------------------------
  [ Bootstrap ]*/
  .container {max-width: 1200px;}
  
  /*------------------------------------------------------------------
  [ Slick ]*/
  .slick-slide:focus {outline: none;}
  
  
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ LOADDING ]*/
  .animsition-loading-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .loader08 {
    width: 20px;
    height: 20px;
    position: relative;
    animation: loader08 1s ease infinite;
    top: 50%;
    margin: -46px auto 0 auto;
  }
  
  @keyframes loader08 {
    0%, 100% {
      box-shadow: -13px 20px 0 $primary-color, 13px 20px 0 rgba(5, 35, 58, 0.2), 13px 46px 0 rgba(5, 35, 58, 0.2), -13px 46px 0 rgba(5, 35, 58, 0.2); }
    25% {
      box-shadow: -13px 20px 0 rgba(5, 35, 58, 0.2), 13px 20px 0 $primary-color, 13px 46px 0 rgba(5, 35, 58, 0.2), -13px 46px 0 rgba(5, 35, 58, 0.2); }
    50% {
      box-shadow: -13px 20px 0 rgba(5, 35, 58, 0.2), 13px 20px 0 rgba(5, 35, 58, 0.2), 13px 46px 0 $primary-color, -13px 46px 0 rgba(5, 35, 58, 0.2); }
    75% {
      box-shadow: -13px 20px 0 rgba(5, 35, 58, 0.2), 13px 20px 0 rgba(5, 35, 58, 0.2), 13px 46px 0 rgba(5, 35, 58, 0.2), -13px 46px 0 $primary-color; } 
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ BUTTON BACK TO TOP ]*/
  .btn-back-to-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 40px;
    height: 39px;
    bottom: -40px;
    right: 40px;
    background-color: $primary-color;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  
  .symbol-btn-back-to-top {
    font-size: 20px;
    color: white;
    line-height: 1em;
  }
  
  .btn-back-to-top:hover {
    opacity: 1;
  }
  
  @media (max-width: 575px) {
    .btn-back-to-top {
      right: 15px;
    }
  }
  
  .show-btn-to-top {
    bottom: 0;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: $white-100;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 6px 25px 5px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
  
    font-family: Roboto-Regular;
    color: #c80000;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  
  .alert-validate::after {
    content: "\f071";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
  