
  /*==================================================================
    RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
  ==================================================================*/
  
  @media (max-width: 1368px) {
    .respon-5 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; 
    }
  
    .respon-6 {
      margin-bottom: 40px;
    }
  }
  
  
  /*////////////////////////////////////////////////////////////////*/
  @media (max-width: 1199px) {
    
  }
  
  
  /*////////////////////////////////////////////////////////////////*/
  @media (max-width: 991px) {
    /*---------------------------------------------*/
    .respon-3 {
      width: 100%;
      max-width: 100%;
      height: auto;
      min-height: unset;
      padding-top: 52%;
    }
  
    /*---------------------------------------------*/
    .respon-4 {
      width: calc(100% / 12 * 8);
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  
  /*////////////////////////////////////////////////////////////////*/
  @media (max-width: 767px) {
    /*---------------------------------------------*/
    .respon-4 {
      width: calc(100% / 12 * 10);
    }
  }
  
  
  /*////////////////////////////////////////////////////////////////*/
  @media (max-width: 575px) {
    /*---------------------------------------------*/
    .respon-1 {
      padding-left: 55px;
      padding-right: 55px;
    }
  
    /*---------------------------------------------*/
    .respon-2 {
      font-size: 18px;
    }
  
    /*---------------------------------------------*/
    .respon-4 {
      width: 100%;
    }
  }
  
  
  /*////////////////////////////////////////////////////////////////*/
  @media (max-width: 480px) {
    
  }